extends layout

block content
  .container
    .d-flex.flex-column.justify-content-center.align-items-center.text-center(style="min-height: 80vh;")
      h1 Logan Miller
      hr(style="width: 50%; opacity: 0.2;")
      p.lead Paramedic | Developer | Business Owner
      .landing-buttons
        a.button(href="/portfolio") Portfolio
        a.button(href="/blog") Blog
