/* navbar.css */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar h1,
  .navbar p {
    margin: 0;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center the list items */
  }
  
  .navbar li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem; /* Increase font size */
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }