extends ../layout

block content
  .container
    .row
      // Sidebar
      .col-md-3
        nav#blog-sidebar
          h4 Blog Posts
          ul.post-list
            each post in posts
              li
                a.button.post(href=`/blog/${post.slug}`)= post.title

          a.button.back-home(href="/") ← Back to Home

      // Welcome Panel
      .col-md-9
        h1 Blog
        p Select a post from the left to read.
